# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log
.rpt
.vhd
.v
.ini


#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

.rigel_lopper/
mha_cu/
swiglu_cu/
rms_cu/
accel_llama_app/
accelerated_llama/accelerated_llama/
accelerated_llama/.gitignore
# accelerated_llama/*.json
accelerated_llama/.Xil/
llama2_software/
matmult_cu/
mha_cu/.*
swiglu_cu/.*
rms_cu/.*
accelerated_llama/.*
llama2_software/.*
matmult_cu/.*
matmult_cu/testbenches/weights/
matmult_cu/testbenches/seed_42069/
mha/
mha_cu/
swiglu_cu/
rms_cu/
accelerated_llama/
llama2_software/
GeMV/
# GeMV/*.json
_ide/
GeMV/
mha/*
transformer_cu/.cache/
transformer_cu/.cache/
# transformer_cu/combo_cu/
transformer_cu/testbench/seed_42069/*
transformer_cu/testbench/seed_42069_conv/*
# transformer_cu/testbench/weights/*
transformer_cu/testbench/seed_199/*
sampler_cu/
# !transformer_cu/combo_cu/
# !transformer_cu/combo_cu/hls/syn/report/csynth.rpt
# !transformer_cu/combo_cu/hls/syn/report/transformer_cu_csynth.rpt
# Match the folder, but look inside it
!transformer_cu/combo_cu/
transformer_cu/testbench/weights/*

# Ignore everything inside that folder
transformer_cu/combo_cu/**
# transformer_cu/testbench/weights/**

# Allow Git to look into the report folder path
!transformer_cu/combo_cu/hls/
!transformer_cu/combo_cu/hls/syn/
!transformer_cu/combo_cu/hls/syn/report/
!transformer_cu/testbench/weights/

# Un-ignore your specific file
!transformer_cu/combo_cu/hls/syn/report/transformer_cu_csynth.rpt
!transformer_cu/combo_cu/hls/syn/report/csynth.rpt
# !transformer_cu/testbench/weights/token_embedding.bin
man_tcu.cpp
workspace*