# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

#besty_test/.cache/*
xilinx-versal-common-v2025.2/*

P_25*
AP_25*
TAP*_25_*