# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

mha_cu/mha_cu/
mha_cu/.gitignore
mha_cu/*.json
mha_cu/.Xil/
swiglu_cu/swiglu_cu/
swiglu_cu/.gitignore
swiglu_cu/*.json
swiglu_cu/.Xil/
rms_cu/rms_cu/
rms_cu/.gitignore
rms_cu/*.json
rms_cu/.Xil/
accelerated_llama/accelerated_llama/
accelerated_llama/.gitignore
accelerated_llama/*.json
accelerated_llama/.Xil/
llama2_software/llama2_software/
llama2_software/.gitignore
llama2_software/*.json
llama2_software/.Xil/
matmult_cu/matmult_cu/
matmult_cu/.gitignore
matmult_cu/.Xil/
matmult_cu/*.json
mha_cu/.*
swiglu_cu/.*
rms_cu/.*
accelerated_llama/.*
llama2_software/.*
matmult_cu/.*
matmult_cu/testbenches/weights/
matmult_cu/testbenches/seed_42069/

mha_cu/_ide
swiglu_cu/_ide
rms_cu/_ide
accelerated_llama/_ide
llama2_software/_ide
GeMV/GeMV/
GeMV/.cache/
GeMV/.Xil/
GeMV/.gitignore
GeMV/*.json
_ide/
GeMV/testbenches/weights/
GeMV/testbenches/seed_42069/